* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Euclid Circular A", Arial, Sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

main {
  max-width: 90%;
  width: 20cm;
  margin: 20px auto;
  padding-bottom: 50px;
}

button,
.button,
a {
  padding: 0;
  outline: none !important;
  border: none !important;
  font: inherit;
  cursor: pointer;
  color: inherit;
}

button {
  line-height: 1.1;
}

a {
  text-decoration: none;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 22px;
}

ul {
  padding-inline-start: 10px;
  margin: 0;
}

ol {
  padding-inline-start: 12px;
  margin: 0;
}

#address {
  word-break: break-all;
  overflow-wrap: anywhere;
}

input {
  background-color: inherit;
  outline: none !important;
  color: inherit;
  font: inherit;
  border-color: inherit;
  border: none;
  border-bottom: 1px solid;
  width: 190px;
  max-width: 100%;
  padding: 0;
  text-overflow: ellipsis;
  line-height: 1;
}

li {
  margin: 6px;
}

#notification {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: max-content;
  max-width: min(20cm, 90%);
  text-align: center;
  padding: 15px 25px;
  transition: transform 0.3s, top 0.3s;
  font-weight: bold;
  border-radius: 5px;
  z-index: 10;
}

#notification.open {
  top: 15px;
  transform: translate(-50%, 0);
}

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 100%);
  text-align: center;
  padding: 15px 25px;
  transition: transform 0.2s;
  font-weight: bold;
}

#bottom-bar.open {
  transform: none;
}

#story span {
  transition: background-color 0.15s, color 0.15s;
}

#intro {
  padding: 5px 20px;
  border-radius: 8px;
  margin: 20px 0;
}

.primary {
  background-color: white;
  color: #212121;
}

.secondary {
  background-color: #eee;
  color: #212121;
}

#story:not(.has-selection) span[data-type="pay"],
.magenta,
.danger {
  background-color: rgb(255, 218, 255);
  color: #111;
}

.selected,
.success,
button,
.button,
a {
  background-color: rgb(241, 255, 176);
  color: #111;
}

@media (prefers-color-scheme: dark) {
  .primary {
    background-color: #212121;
    color: white;
  }

  .secondary {
    background-color: #333;
    color: white;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 18px;
  }

  #notification {
    padding: 10px 20px;
  }
}

#basics {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
}

#basics.open {
  max-height: 160px;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  height: 2px;
  animation: loader 1s infinite;
  background: linear-gradient(
    to right,
    rgba(241, 255, 176, 0),
    rgba(241, 255, 176, 1),
    rgba(241, 255, 176, 0)
  );
  display: none;
}

#loader.loading {
  display: block;
}

@keyframes loader {
  0% {
    left: -70%;
  }
  100% {
    left: 100%;
  }
}
